
body{
   
    margin-top: 50px;
}
button {
    text-align: center;
    padding: 20px 40px;
    color: white;
    background-color: gray;
    font-size: 30px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid black;
    
    box-shadow: 0px 12px 5px blue;
}
.result{
    margin-left: 20px;
   
    border: 2px solid black;
    width: 265px;
    padding: 20px;
    font-size: 40px;
    background-color: gray;
    color: white;
    box-shadow: 0px 12px 5px blue;
}
.container{
   
}